<h2 mat-dialog-title>Welcome Stranger!</h2>
<mat-dialog-content>
  <p>
    This website is cookie & ad free but it works with Spotify. They are kind
    enough to lend their web player as long as you are a paying customer. That's
    what I need to validate by making you loggin there. After that we're good to
    go.
  </p>
  <p>Hit that jukebox!</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Alright got it!</button>
</mat-dialog-actions>
