rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{id}/{u=**} {
      allow read, write: if (isSignedIn() && isUser(id));
    }

   	match /tracks/{doc=**} {
      allow read: if isSignedIn();
      allow write: if false;
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isUser(uid) {
      return uid == request.auth.uid;
    }
  }
}
